include README.rst
include AUTHORS
include LICENSE
include CHANGELOG

include docs/Makefile
recursive-include docs .rst
recursive-include docs .py

recursive-include siteprefs/locale *
recursive-include siteprefs/migrations .py
recursive-include siteprefs/south_migrations .py
